<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE keyboard SYSTEM "keyboard.dtd">
<keyboard>
  <options>
    <option name="language">be</option>
  </options>

  <layout id="default">
    <row>
      <key width="1000">
        <default char="²" />
        <shifted char="³" />
      </key>
      <key width="1000">
        <default char="&amp;" />
        <shifted char="1" />
      </key>
      <key width="1000">
        <default char="é" />
        <shifted char="2" />
      </key>
      <key width="1000">
        <default char="&quot;" />
        <shifted char="3" />
      </key>
      <key width="1000">
        <default char="'" />
        <shifted char="4" />
      </key>
      <key width="1000">
        <default char="(" />
        <shifted char="5" />
      </key>
      <key width="1000">
        <default char="§" />
        <shifted char="6" />
      </key>
      <key width="1000">
        <default char="è" />
        <shifted char="7" />
      </key>
      <key width="1000">
        <default char="!" />
        <shifted char="8" />
      </key>
      <key width="1000">
        <default char="ç" />
        <shifted char="9" />
      </key>
      <key width="1000">
        <default char="à" />
        <shifted char="0" />
      </key>
      <key width="1000">
        <default char=")" />
        <shifted char="°" />
      </key>
      <key width="1000">
        <default char="-" />
        <shifted char="_" />
      </key>
      <key fill="true" />
      <key obey-caps="true" width="2000">
        <default action="backspace" />
      </key>
    </row>

    <row>
      <key width="1500">
        <default action="tab" />
      </key>
      <key obey-caps="true" width="1000">
        <default char="a" />
        <shifted char="A" />
      </key>
      <key obey-caps="true" width="1000">
        <default char="z" />
        <shifted char="Z" />
      </key>
      <key obey-caps="true" width="1000">
        <default char="e" />
        <shifted char="E" />
      </key>
      <key obey-caps="true" width="1000">
        <default char="r" />
        <shifted char="R" />
      </key>
      <key obey-caps="true" width="1000">
        <default char="t" />
        <shifted char="T" />
      </key>
      <key obey-caps="true" width="1000">
        <default char="y" />
        <shifted char="Y" />
      </key>
      <key obey-caps="true" width="1000">
        <default char="u" />
        <shifted char="U" />
      </key>
      <key obey-caps="true" width="1000">
        <default char="i" />
        <shifted char="I" />
      </key>
      <key obey-caps="true" width="1000">
        <default char="o" />
        <shifted char="O" />
      </key>
      <key obey-caps="true" width="1000">
        <default char="p" />
        <shifted char="P" />
      </key>
      <key width="1000">
        <default char="^" />
        <shifted char="¨" />
      </key>
      <key width="1000">
        <default char="$" />
        <shifted char="*" />
      </key>
      <key fill="true" />
      <key width="1500">
        <default action="return" />
      </key>
    </row>

    <row>
      <key width="2000">
        <default action="modifier:caps" />
      </key>
      <key obey-caps="true" width="1000">
        <default char="q" />
        <shifted char="Q" />
      </key>
      <key obey-caps="true" width="1000">
        <default char="s" />
        <shifted char="S" />
      </key>
      <key obey-caps="true" width="1000">
        <default char="d" />
        <shifted char="D" />
      </key>
      <key obey-caps="true" width="1000">
        <default char="f" />
        <shifted char="F" />
      </key>
      <key obey-caps="true" width="1000">
        <default char="g" />
        <shifted char="G" />
      </key>
      <key obey-caps="true" width="1000">
        <default char="h" />
        <shifted char="H" />
      </key>
      <key obey-caps="true" width="1000">
        <default char="j" />
        <shifted char="J" />
      </key>
      <key obey-caps="true" width="1000">
        <default char="k" />
        <shifted char="K" />
      </key>
      <key obey-caps="true" width="1000">
        <default char="l" />
        <shifted char="L" />
      </key>
      <key obey-caps="true" width="1000">
        <default char="m" />
        <shifted char="M" />
      </key>
      <key width="1000">
        <default char="ù" />
        <shifted char="%" />
      </key>
      <key width="1000">
        <default char="µ" />
        <shifted char="£" />
      </key>
      <key fill="true" />
      <key width="2000">
        <default action="modifier:caps" />
      </key>
    </row>

    <row>
      <key width="1200">
        <default action="modifier:shift" />
      </key>
      <key width="1000">
        <default char="&lt;" />
        <shifted char="&gt;" />
      </key>
      <key obey-caps="true" width="1000">
        <default char="w" />
        <shifted char="W" />
      </key>
      <key obey-caps="true" width="1000">
        <default char="x" />
        <shifted char="X" />
      </key>
      <key obey-caps="true" width="1000">
        <default char="c" />
        <shifted char="C" />
      </key>
      <key obey-caps="true" width="1000">
        <default char="v" />
        <shifted char="V" />
      </key>
      <key obey-caps="true" width="1000">
        <default char="b" />
        <shifted char="B" />
      </key>
      <key obey-caps="true" width="1000">
        <default char="n" />
        <shifted char="N" />
      </key>
      <key width="1000">
        <default char="," />
        <shifted char="?" />
      </key>
      <key width="1000">
        <default char=";" />
        <shifted char="." />
      </key>
      <key width="1000">
        <default char=":" />
        <shifted char="/" />
      </key>
      <key width="1000">
        <default char="=" />
        <shifted char="+" />
      </key>
      <key fill="true" />
      <key width="1200">
        <default action="modifier:shift" />
      </key>
    </row>

    <row>
      <key width="1500">
        <default display="Ctrl" action="modifier:ctrl" />
      </key>
      <key width="1500">
        <default display="Alt" action="modifier:alt" />
      </key>
      <key fill="true">
        <default char=" " />
      </key>
      <key width="1500">
        <default display="Alt" action="modifier:alt" />
      </key>
      <key width="1500">
        <default display="Ctrl" action="modifier:ctrl" />
      </key>
    </row>
  </layout>
</keyboard>
